.App {
  font-family: sans-serif;
  text-align: center;
}

.App1 {
  font-family: "Times New Roman";
  text-align: right;
}

.App2 {
  font-family: "Lucida Sans";
  text-align: left;
}

h1 {
  color: orange;
}

h2 {
  color: yellow;
}

body {
  background-color: black;
  color: pink;
}

p {
  text-indent: 50px;
}
